<div>
    <form #submitFund="ngForm" novalidate (submit)="addFund(submitFund.value, $event)">

        <table>
            <thead>
                <tr>
                    <th colspan="6">Subscription Info</th>
                    <th colspan="2">Price Quote</th>
                    <th colspan="5">Earnings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>ISIN</td>
                    <td>Date bought</td>
                    <td>Total UPs</td>
                    <td>UPs value</td>
                    <td>Value bought</td>
                    <td>Current UP price</td>
                    <td>At date</td>
                    <td>Today's value</td>
                    <td>Earnings</td>
                    <td>Gross profitability</td>
                    <td>Liquid profitability</td>
                    <td>Days passed</td>
                </tr>
                <tr>
                    <td><input name="isin"></td>
                    <td><input name="name"></td>
                    <td><input name="subs_date"></td>
                    <td><input name="up_number"></td>
                    <td><input name="up_quote"></td>
                    <td><input name="value"></td>
                    <td><input name="up_price"></td>
                    <td><input name="at_date"></td>
                    <td><input name="todays_value"></td>
                    <td><input name="earnings"></td>
                    <td><input name="gross_proff"></td>
                    <td><input name="liquid_proff"></td>
                    <td><input name="days_passed"></td>
                    <td></td>
                    <!-- <td><button  type="submit" class="btn btn-default" [disabled]="fund.name===''">Add Fund</button></td> -->
                </tr>
            </tbody>
        </table>

        <ul class="actual-fund" *ngFor="let fund of funds">
            <li>
                <span>{{fund.name}}</span>
                <span class="isin">{{fund.isin}}</span>
            </li>
            <li>
                <label>Value bought:</label>
                <span>{{fund.value_bought}}</span>
            </li>
            <li>
                <label>Value today:</label>
                <span>{{fund.todays_value}}</span>
            </li>
            <li class="earnings" [ngClass]="{'earn-red': fund.earnings < 0}">
                <span class="earnings-value">{{fund.earnings}}</span>
                <a class="profits">
                    {{fund.liquid_proff}}
                    <span>
                        Gross Proffit: {{fund.gross_proffit}}
                    </span>
                </a>
            </li>
            <li>

            </li>
        </ul>
        <p>Total Funds: {{actualFund.length}}</p>


    </form>
</div>
